In [1]:
import pandas as pd
import util
import mark_helper as mh
import write_helper as wh

In [2]:
# current_date = pd.Timestamp.now().date().__str__()
res = pd.read_parquet(f'../data/2021/response/all-response.parquet')
res = res.query('course_id == "INFO1001-2021-DHD-1"')

attendee11 = util.get_attendee(
    '../data/2021/mau-import-diem-import/mau-import-diem-INFO1001-2021-DHD-1-DHD-2021-LAN1.xlsx',
    course_id='INFO1001-2021-DHD-1')
exam = util.parse_exam('../data/2021/reference/exam.xlsx')

In [3]:
# attendee11

In [4]:
# for testing purpose
# PATH_RTHILT1 = '../data/2021/response/INFO1001-2021-DHD-1-QT1 (Responses).xlsx'
# PATH_RTHITH1 = '../data/2021/response/INFO1001-2021-DHD-1-QT1 (Responses).xlsx'
PATH_RTHILT2 = '../data/2021/response/INFO1001-2021-DHD-1-QT1 (Responses).xlsx'
PATH_RTHITH2 = '../data/2021/response/INFO1001-2021-DHD-1-QT1 (Responses).xlsx'
PATH_CUTPOINT = '../data/2021/reference/cutpoint.csv'
cutpoint = pd.read_csv(PATH_CUTPOINT, index_col=None)
# rthilt1 = util.parse_response(PATH_RTHILT1)
rthilt2 = util.parse_response(PATH_RTHILT2)
# rthith1 = util.parse_response(PATH_RTHITH1)
rthith2 = util.parse_response(PATH_RTHITH2)
# rthilt1['course_id'] = 'INFO1001-2021-DHD-1'
rthilt2['course_id'] = 'INFO1001-2021-DHD-1'
# rthith1['course_id'] = 'INFO1001-2021-DHD-1'
rthith2['course_id'] = 'INFO1001-2021-DHD-1'
# thilt1 = mh.get_mark(rthilt1, cutpoint, total=30, exam_id='INFO1001-2021-DHD-1-THILT1')
thilt2 = mh.get_mark(rthilt2, cutpoint, total=30, exam_id='INFO1001-2021-DHD-1-THILT2')
# thith1 = mh.get_mark(rthith1, cutpoint, total=30, exam_id='INFO1001-2021-DHD-1-THITH1')
thith2 = mh.get_mark(rthith2, cutpoint, total=30, exam_id='INFO1001-2021-DHD-1-THITH2')
res = res.append(thilt2).append(thith2)

In [5]:
mark_wide = mh.get_mark_wide(res)
mark_long = mh.get_mark_long(
    mark_wide,
    value_vars=[
        'INFO1001-2021-DHD-1-CC1', 
        'INFO1001-2021-DHD-1-CC2',
        'INFO1001-2021-DHD-1-CC3', 
        'INFO1001-2021-DHD-1-QT1',
        'INFO1001-2021-DHD-1-THILT1', 
        'INFO1001-2021-DHD-1-THILT2',
        'INFO1001-2021-DHD-1-THITH1', 
        'INFO1001-2021-DHD-1-THITH2'])

In [6]:
mark_wide.query('user_id == "1854010060"')

,user_id,class_id,course_id,INFO1001-2021-DHD-1-CC1,INFO1001-2021-DHD-1-CC2,INFO1001-2021-DHD-1-CC3,INFO1001-2021-DHD-1-QT1,INFO1001-2021-DHD-1-THILT1,INFO1001-2021-DHD-1-THILT2,INFO1001-2021-DHD-1-THITH1,INFO1001-2021-DHD-1-THITH2
1,1854010060,DHD-2018,INFO1001-2021-DHD-1,10.0,10.0,8.5,7.5,6.0,7.5,7.0,7.5

In [7]:
# using procedure 1
wh.write_INFO1001(
    attendee11, mark_long, exam, name='INFO1001-2021-DHD-1-DHD-2021',
    mon='Tin học đại cương [2 TC]',
    lop='DHD-2021',
    lop_hp='211TDC01991002',
    lan_thi='1',
    ngay_thi='19/02/2022',
    footer='INFO1001-2021-DHD-1',
    ngay='      ', thang='03', nam='2022'
)

                42
Rớt TH          11
Rớt LT           3
Rớt LT, TH       3
VT LT, VT TH     2
Name: note1, dtype: int64